.valuedisplay {
    position: absolute;
    width: 100%;
    right: -140%;
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: auto;
    background-color: #1a1a1f;
    transition: all 0.3s ease-in-out;
    color: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    z-index: 50;
  }
  
  .valuedisplay[data-isactive="true"] {
    right: 0;
  }

  .value-display-th {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  