@font-face {
    font-family: 'Rowdies-Regular';
    src: url('../../../../assets/font/Rowdies-Regular.ttf');
    font-weight: normal;
    font-style: normal;
 }

.lobbypagecontainer {
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr 0.5fr 1fr   auto;
    grid-template-rows: auto 1fr 1fr 0.5fr 1fr  auto;
    width: 100%;
    background-color: #0f0f11d7;
    row-gap: 1%;
    column-gap: 1%;
}

.teamcomp {
    margin-top: 1%;
    grid-column: 2 / span 2;
    grid-row: 2 / span 3;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1%;
    background-color: rgba(39, 39, 46);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 4px 8px rgba(0,0,0,0.2), 0 8px 16px rgba(0,0,0,0.2);
}

.statistics {
    background-color: rgb(59, 59, 23);
    grid-column: 2;
    grid-row: 5;
}

.mapdiv {
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
    background-color: blueviolet;
    margin-top: 1%;
}

.routeselector {
    grid-column: 3;
    grid-row: 5;
    background-color: brown;
}

.camporder {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
    background-color: aquamarine;
}

.champSplashArt {
    width: 100%;
    height: 100%;
    object-fit: cover;
}