.settingspagecontainer {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
    background-color: #0f0f11d7;
    grid-template-rows: auto 1fr auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 100%;
    color: white;
}

.titleholder {
    grid-row: 1;
    grid-column: 2 / span 2;
    margin-top: 1%;
}

.settings {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: flex;
    flex-direction: row;
    gap: 0.5%;
    font-size: 1.5rem;
    justify-content: center;
    /* Align flex items to the start */
    row-gap: 1%;
    position: relative;
}

.settings > div {
    background-color: rgba(39, 39, 46);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 4px 8px rgba(0,0,0,0.2), 0 8px 16px rgba(0,0,0,0.2);
}

.windowsize,
.othersetting {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    width: 50%;
    max-height: 25%;
    text-align: center;
}

.windowsize {
    margin-bottom: 20px;
    /* add a margin to the bottom to separate from other settings */
}

.resinput {
    margin-top: 20px;
    display: flex;
    width: 50%;
    margin: 5% auto;
    gap: 5%;
    justify-content: center;
}

.resses {
    width: 100%;
}
.resopt {
    box-shadow: 8px 6px 8px #1a1a1f;
    background-color: #1a1a1f;
    width: 100%;
    border: 1px solid white;
    padding: 1.5%;
}

.resopt:hover {
    background-color: #26262c7a;
}

#oksetting {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 4px 8px rgba(0,0,0,0.2), 0 4px 8px rgba(0,0,0,0.2), 0 4px 8px rgba(0,0,0,0.2);
    width: 150px;
    height: 50px;
    border: none;
    background-color: rgb(15, 83, 30);
    color: white;
    font-size: 1.5rem;
    transition: 0.5s linear;
}
  
  #oksetting:hover {
    background-color: rgb(15, 95, 20);
    cursor: pointer;
  }

  .resses {
    list-style: none;
  }

  .resopt {
    user-select: none;
    cursor: pointer;
  }