.playercontainer {
    background-color: black;
    width: 100%;
    height: 20%;
    border: 1px solid white;
    position: relative;
}

.playername {
    color: white;
    text-align: center;
    margin-top: 1%;
}

.champImgContainer {
    position: absolute;
    background-color: aqua;
    width: 15%;
    height: 60%;
    top: 30%;
    left: 5%;
    border-radius: 50%;
}

.kda {
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.summonerspellcontainer {
    position: absolute;
    left: 23%;
    top: 33%;
    width: 8%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.itemcontainer {
    background-color: azure;
    width: 35%;
    height: 60%;
    position: absolute;
    right: 1%;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.boxcontainer {
    height: 50%;
    width: 33%;
}